{% ckan_extends %}
<footer class="site-footer">
    <div class="container">
        {% block footer_content %}
        <div class="row">
            <div class="span4 footer-links">
                {% block footer_nav %}
                <ul class="unstyled">
                    {% block footer_links %}
                    <li>
                        <a href="http://www.gosh.nhs.uk/research-and-innovation" target="_blank">{{ _('GOSH Research and Innovation') }}</a>
                    </li>
                    {% endblock %}
                </ul>

                <ul class="unstyled">
                    {% block footer_links_ckan %} {% endblock %}
                </ul>
                {% endblock %}
            </div>
            <div class="span3">
                <ul class="unstyled">
                    <li>
                        <a href="http://www.aridhia.com/" target="_blank">{{ _('Aridhia') }}</a>
                    </li>
                    <li>
                        <a href="http://www.aridhia.com/platform/analytixagility/" target="_blank">{{ _('AnalytiXagility') }}</a>
                    </li>

                </ul>
            </div>
            <div class="span3">
                <ul class="unstyled">
                    <li>
                        <a href="http://www.viderum.com/" target="_blank">{{ _('Viderum') }}</a>
                    </li>
                    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                    <li>
                        <a href="{{ api_url }}" target="_blank">{{ _('CKAN API') }}</a>
                    </li>
                </ul>
            </div>
            <div class="span2 attribution">
                {% block footer_attribution %}
                <div class="span2">
                    <ul class="unstyled">
                        <li>
                            <a href="http://www.aridhia.com/" target="_blank">
                                <img src="{{ h.url_for_static('/base/images/aridhia-logo.png') }}" alt="">
                        </li>
                        </a>
                    </ul>
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>

        {% block footer_debug %} {{ super() }} {% endblock %}
</footer>