body {
    font-family: Arial, Helvetica, sans-serif;
}

.account-masthead {
    background: #0098db;
}

.account-masthead .account ul li {
    border-left: 1px solid #ffffff;
}

.account-masthead .account ul li a {
    color: #ffffff;
}

.account-masthead .account ul li a:hover {
    color: #ffffff;
    background-color: #147EB3;
}

.masthead .btn-navbar {
    background-color: #0098db;
    margin: 20px 0 20px 0;
}

.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
    background-color: #0098db;
    margin: 20px 0 20px 0;
}

.box {
    box-shadow: none;
}

.masthead {
    background: #0098db;
}

.navbar-static-top {
    background: #ffffff;
}

.navbar-static-top .navigation {
    margin-top: 0;
}

.navbar-static-top .nav-collapse {
    padding: 0;
}

.navbar-static-top.masthead {
    min-height: auto;
}

.navbar .nav>li>a {
    margin: 0;
    border-radius: 0px;
    padding: 20px;
}

.masthead .site-search {
    margin-top: 12px;
    float: right;
}

.masthead .navigation {
    margin-right: 95px;
}

.masthead input[type="text"] {
    border-color: #0098db;
}

.simple-input .field .btn-search {
    color: #0098db;
}

.masthead .navigation .nav-pills li a {
    font-weight: bold;
    color: #0098db;
}

.masthead .navigation .nav-pills li a:hover {
    background-color: #0098db;
    color: #ffffff;
}

.masthead .navigation .nav-pills li.active a {
    background-color: #0098db;
    color: #ffffff;
}

.masthead .nav-collapse {
    float: none;
}

.header-image {
    margin: 30px 0px 40px 0px;
}

ul.unstyled.pull-right.language-switcher {
    display: none;
}

[role=main].hero {
    background: #C6E7F7 url(../../../images/bg-img.png) top left no-repeat;
}

[role=main] {
    background-color: #C6E7F7;
    background-image: none;
}

.module-content.box {
    margin-top: 20px;
}

.homepage .module-search {
    padding: 0px;
}

.homepage .module-search .module-content {
    background: #57318B;
}

.homepage .module-search .tags {
    background: #451E69;
}

.site-footer,
body {
    background: #0098db;
}

.site-footer,
.site-footer label,
.site-footer small {
    color: #fff;
    margin-top: 20px;
}

.site-footer a {
    color: #fff;
}

.search-form .search-input.search-giant button {
    margin-top: -13px;
    right: 15px;
    height: 30px;
}