body {
    font-family: Arial, Helvetica, sans-serif;
}

.account-masthead {
    background: #0098db;
}

.account-masthead .account ul li {
    border-left: 1px solid #ffffff;
}

.account-masthead .account ul li a {
    color: #ffffff;
}

.account-masthead .account ul li a:hover {
    color: #ffffff;
    background-color: #147EB3;
}

.masthead .btn-navbar {
    background-color: #0098db;
    margin: 20px 0 20px 0;
}

.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
    background-color: #0098db;
    margin: 20px 0 20px 0;
}

.box {
    box-shadow: none;
}

.masthead {
    background: #0098db;
}

.navbar-static-top {
    background: #ffffff;
}

.navbar-static-top .navigation {
    margin-top: 0;
}

.navbar-static-top .nav-collapse {
    padding: 0;
}

.navbar-static-top.masthead {
    min-height: auto;
}

.navbar .nav>li>a {
    margin: 0;
    border-radius: 0px;
    padding: 20px;
}

.masthead .site-search {
    margin-top: 12px;
    float: right;
}

.masthead .navigation {
    margin-right: 95px;
}

.masthead input[type="text"] {
    border-color: #0098db;
}

.simple-input .field .btn-search {
    color: #0098db;
}

.masthead .navigation .nav-pills li a {
    font-weight: bold;
    color: #0098db;
}

.masthead .navigation .nav-pills li a:hover {
    background-color: #0098db;
    color: #ffffff;
}

.masthead .navigation .nav-pills li.active a {
    background-color: #0098db;
    color: #ffffff;
}

.masthead .nav-collapse {
    float: none;
}

.header-image {
    margin: 30px 0px 40px 0px;
}

ul.unstyled.pull-right.language-switcher {
    display: none;
}

[role=main].hero {
    background: #C6E7F7 url("../../../base/images/bg-img.png") top left no-repeat;
}

[role=main] {
    background-color: #C6E7F7;
    background-image: none;
}

.module-content.box {
    margin-top: 20px;
}

.homepage .module-search {
    padding: 0px;
}

.homepage .module-search .module-content {
    background: #57318B;
}

.homepage .module-search .tags {
    background: #451E69;
}

.site-footer,
body {
    background: #0098db;
}

.site-footer,
.site-footer label,
.site-footer small {
    color: #fff;
    margin-top: 20px;
}

.site-footer a {
    color: #fff;
}

.search-form .search-input.search-giant button {
    margin-top: -13px;
    right: 15px;
    height: 30px;
}

.control-group-info {
    position: relative;
}

.control-group-info.toggled .control-group-info-toggle {
    outline: 0;
    position: relative;
    box-shadow: 0 0 8px #0098db;
    border-radius: 50%;
}

.control-group-info.toggled .control-group-info-content {
    opacity: 1;
    visibility: visible;
}

.control-group-info-toggle {
    margin-right: .3em;
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background-image: url("../../../base/images/sprite-ckan-icons.png");
    background-repeat: no-repeat;
    background-position: 16px 16px;
    width: 20px;
    height: 20px;
    background-position: -180px -33px;
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

.control-group-info-content {
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    position: absolute;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    top: -10px;
    line-height: normal;
    font-size: 14px;
    right: -32%;
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    max-width: 25%;
    word-wrap: break-word;
    transition: 200ms all ease-in-out;
}

.control-group-info-content p:last-child {
    margin-bottom: 0;
}

.ui-switch {
    position: relative;
    width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ui-switch .checkbox {
    display: none;
}

.ui-switch .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    padding: 0;
    background: none;
}

.ui-switch .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    text-shadow: none;
    color: #444;
}

.ui-switch .inner:before,
.ui-switch .inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    box-sizing: border-box;
}

.ui-switch .inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #0098db;
    color: #ffffff;
}

.ui-switch .inner:after {
    content: "NO";
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ebebeb;
    color: #888;
    text-align: right;
}

.ui-switch .switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.ui-switch .checkbox:checked+.label .inner {
    margin-left: 0;
}

.ui-switch .checkbox:checked+.label .switch {
    right: 0px;
}

.btn-primary {
    background: #0098db;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #187794;
}
.help-right{
     margin-left: 130px;
}