{% ckan_extends %}

{% macro errors_tc(errors={}, type="error", classes=[]) %}
  {% if errors %}
    <div class="error-explanation alert alert-{{ type }}{{ " " ~ classes | join(' ') }}">
      <p>{{ _('The form contains invalid entries:') }}</p>
      <ul>
        {% for key, error in errors.items() %}
        {% if key == 'Tc end' or key == 'Tc start' %}
            <li data-field-label="Temporal Coverage">Temporal Coverage: {{ error }}</li>
        {% else %}
          <li data-field-label="{{ key }}">{% if key %}{{ key }}: {% endif %}{{ error }}</li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% block errors %}{{ errors_tc(error_summary) }}{% endblock %}
