{% import 'macros/form.html' as form %}

{% block package_basic_fields_title %}
<div class="control-group control-full control-large">
  <div class="control-group-info">
    <a class="control-group-info-toggle"></a>
    <div class="control-group-info-content control-group-info-content-hidden">
      <p>{{_('The name of the dataset. Please provide a descriptive name so that your dataset can be found by others.')}}</p>
    </div>
  </div>
  <label class="control-label" for="title"><span title="This field is required" class="control-required">*</span> Title</label>
  <div class="controls ">

    <input id="title" type="text" name="title" placeholder="eg. A descriptive title" data-module="slug-preview-target" value="{{data.title}}" required>
    <div class="control-group-info">
      <a class="control-group-info-toggle"></a>
      <div class="control-group-info-content control-group-info-content-hidden">
        <p>{{_('The entry for your dataset in the catalogus will have its own link. The system automatically composes this link based on the description of your dataset. You can edit the link by typing the desired text in the field.')}}</p>
      </div>
    </div>
    <div class="slug-preview"></div>
  </div>
</div>
{% endblock %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
  {% endblock %}

  {% block package_basic_fields_custom %}{% endblock %}

  {% block package_basic_fields_description %}
  <div class="control-group control-full">
    <div class="control-group-info">
      <a class="control-group-info-toggle"></a>
      <div class="control-group-info-content control-group-info-content-hidden">
        <p>{{_('A short and clear description of the dataset. This will help in making the dataset findable.')}}</p>
      </div>
    </div>
    <label class="control-label" for="field-notes"><span title="This field is required" class="control-required">*</span> Description</label>
    <div class="controls editor">

      <textarea id="field-notes" name="notes" cols="20" rows="5" placeholder="some useful notes about this particular data file which is part of the dataset." required>{{data.notes}}</textarea>
      <span class="editor-info-block">You can use <a href="#markdown" title="" data-target="popover" data-content="<pre><p>__Bold text__ or _italic text_</p><p># title<br>## secondary title<br>### etc</p><p>* list<br>* of<br>* items</p><p>http://auto.link.ed/</p></pre><p><b><a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a></b></p><p class='muted'><b>Please note:</b> HTML tags are stripped out for security reasons</p>" data-html="true" data-original-title="Markdown quick reference">Markdown formatting</a> here</span>

    </div>
  </div>
  {% endblock %}

  {% block package_basic_fields_tags %}
  <div class="control-group-info">
    <a class="control-group-info-toggle"></a>
    <div class="control-group-info-content control-group-info-content-hidden">
      <p>{{_('Subjects and related information about the dataset. These tags are used when people search for datasets in the catalogue, so the tags can help make your datasets findable. Please also review the list of pre-defined tags, and then define your own.')}}</p>
    </div>
  </div>
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
  {% endblock %}

  {% block package_basic_fields_license %}
  <div class="control-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license"><span title="This field is required" class="control-required">*</span> {{ _("Rights") }}</label>
    <div class="controls">
      <div class="control-group-info">
        <a class="control-group-info-toggle"></a>
        <div class="control-group-info-content control-group-info-content-hidden">
          <p>{{_('License and usage rights of the datasets. In case the datasets will be made available for open access a license should be applied to the data in order to prevent intellectual property rights blocking third parties rights to use the data. Licenses that are conformant to the Open Definition principles are, amongst others, the six Creative Commons licenses, of which the CCZero (CC0) is the most permissive license. The CC licenses can be specified further by adding (combinations of) restrictions like Attribution (BY), NonCommercial use (NC) and Share Alike (SA). Information on Open Definition licences can be found at: http://opendefinition.org/licenses/')}}</p>
        </div>
      </div>
      <select id="field-license" name="license_id" data-module="autocomplete">
        {% set existing_license_id = data.get('license_id') %}
        {% for license_id, license_desc in h.license_options(existing_license_id) %}
        <option value="{{ license_id }}" {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
        {% endfor %}
      </select>
      {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
      <span class="info-block info-inline">
        {% trans %}
        License definitions and additional information can be found
        at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
        {% endtrans %}
      </span>
    </div>
  </div>
  {% endblock %}

  {% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_organizations_selector and show_visibility_selector %}
  <div data-module="dataset-visibility">
    {% endif %}

    {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="control-group">
      <div class="control-group-info">
        <a class="control-group-info-toggle"></a>
        <div class="control-group-info-content control-group-info-content-hidden">
          <p>{{_('Organizations are the primary way to control who can see, create and update datasets in the Radboudumc Data Catalogue. Select the organization to which the dataset belongs to. Please contact the RTC Datastewardship (datastewardship.im@radboudumc.nl) if your Organization is not included in the list.')}}</p>
        </div>
      </div>
      <label for="field-organizations" class="control-label"><span title="This field is required" class="control-required">*</span> {{ _('Organization') }}</label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          {% if h.check_config_permission('create_unowned_dataset') %}
          <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
          {% endif %}
          {% for organization in organizations_available %}
          {# get out first org from users list only if there is not an existing org #}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}

    {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
    <div class="control-group">
      <div class="control-group-info">
        <a class="control-group-info-toggle"></a>
        <div class="control-group-info-content control-group-info-content-hidden">
          <p>{{_('Public datasets are visible to all visitors (members and non-members) of the Radboudumc Dataset Catalogue. Select ‘Radboud-restricted if the public dataset visibility should be limited to Radboudumc users only. Private datasets can only be seen by Organization members.')}}</p>
        </div>
      </div>
      <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
      <div class="controls">
        <select id="field-private" name="private">
          {% for option in [('True', _('Private')), ('False', _('Public'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %}
    {% endif %}

    {% if show_organizations_selector and show_visibility_selector %}
  </div>
  {% endif %}


  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
  <div class="control-group">
    <label for="field-state" class="control-label">{{ _('State') }}</label>
    <div class="controls">
      <select id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
  {% endif %}

  {% endblock %}
